.body-start {
    background-image: url(card-picture/start-bg.jpg);
    position: fixed;
    align-items: center;
    background-size: cover;
}

/* BUTTON MENU DISINI */

.menu {
    display: inline-flex;
}

.text-menu {
    font-size: 30px;
    color: black;
}

.movebg {
    width: 200px;
    background-color: red;
    font-weight: bold;
    position: relative;
    left : 50px;
    animation: mymove 1s, vibrate 1s 1s infinite alternate-reverse;
    border-radius: 70px;
    text-align: center;
    margin-top: 40px;
}

#start {
    animation-timing-function: linear;
}

#credit {
    animation-timing-function: ease-out;
}

#exit {
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {left: -300px;}
    to {left: 50px; background-color: blue;}
}

@keyframes vibrate {
    from {left: 30px;}
    to {left: 50px; background-color: yellow;}
}

/* GRID MENU DISINI */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 50px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 30px 110px;
  font-size: 12px;
  border-radius: 140px;
}

.text-deskripsi {
    text-align: left;
    color: black;
}

.title {
    font-size: 40px;
}

.rule-game {
    background-color: aquamarine;
    opacity: 70%;
}