@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  
body {
    height: 100vh;
    display: flex;
    background-image: url(card-picture/walpaper.jpg);
    background-repeat: round;
}

#game-modes{
    margin-left: 40px;
    margin-top: 15px;
}

#choose-normal{
    background-color: rgba(219, 223, 14, 0.9);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    color: rgb(15, 54, 54);
    font-weight: 800;
    width: 110px;
}

#choose-hard{
    background-color: rgba(219, 223, 14, 0.9);
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: rgb(15, 54, 54);
    font-weight: 800;
    width: 110px;
}

#choose-alterra{
    background-color: rgba(219, 223, 14, 0.9);
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: rgb(15, 54, 54);
    font-weight: 800;
    width: 110px;
}

/* game timer */
#game-timer{
    text-align: center;
    border: 3px black;
    border-radius: 4px;
    background-color: rgba(23, 94, 94, 0.6);
    height: 50px;
    width: 200px;
    margin-top: 20px;
    padding-top: 7px;
    color: orange;
    margin-left: 250px;
    font-size: 30px;
}

/* move counter */
#move-counter-section{
    text-align: center;
    vertical-align: middle;
    border: 3px black;
    border-radius: 4px;
    background-color: rgba(23, 94, 94, 0.6);
    height: 50px;
    width: 200px;
    margin-top: 20px;
    padding-top: 7px;
    color: orange;
    margin-left: 30px;
    font-size: 30px;
}

/* normal mode */
/* size of the board */
#game-normal {
    width: 900px;
    height: 350px;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 220px;
    margin-left: -720px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    perspective: 1000px;
    background-color: rgba(15, 54, 54, 0.5);
    border-radius: 10px;
}

/* size of each card */
.mode-normal {
    width: 115px;
    height: 110px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
.mode-normal:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.mode-normal.flip {
    transform: rotateY(180deg);
}


/* hard mode */
/* size of the board */
#game-hard {
    width: 910px;
    height: 420px;
    padding: 10px;
    padding-top: 30px;
    padding-left: 15px;
    margin-top: 220px;
    margin-left: -720px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    background-color: rgba(15, 54, 54, 0.5);
    border-radius: 10px;
}

/* size of each card */
.mode-hard {
    width: 100px;
    height: 95px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
.mode-hard:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.mode-hard.flip {
    transform: rotateY(180deg);
}
  

/* alterra mode */
/* size of the board */
#game-alterra {
    width: 910px;
    height: 420px;
    padding: 10px;
    padding-top: 20px;
    margin-top: 220px;
    margin-left: -720px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    background-color: rgba(15, 54, 54, 0.5);
    border-radius: 10px;
}

/* size of each card */
.mode-alterra {
    width: 88px;
    height: 83px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
.mode-alterra:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.mode-alterra.flip {
    transform: rotateY(180deg);
}
  

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    /* border: 3px blue; */
    background: white;
    backface-visibility: hidden;
}
  
.front-face {
    transform: rotateY(180deg);
}



/* STARTING PAGE */

.body-start {
    background-image: url(card-picture/start-bg.jpg);
    position: fixed;
    align-items: center;
    background-size: cover;
}

/* BUTTON MENU DISINI */

.menu {
    display: inline-flex;
}

.text-menu {
    font-size: 30px;
    color: black;
}

#link-start-menu{
    text-decoration: none;
}

.movebg {
    width: 200px;
    background-color: red;
    font-weight: bold;
    position: relative;
    left : 50px;
    animation: mymove 1s, vibrate 1s 1s infinite alternate-reverse;
    border-radius: 70px;
    text-align: center;
    margin-top: 40px;
}

#start {
    animation-timing-function: linear;
}

#credit {
    animation-timing-function: ease-out;
}

#exit {
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {left: -300px;}
    to {left: 50px; background-color: blue;}
}

@keyframes vibrate {
    from {left: 30px;}
    to {left: 50px; background-color: yellow;}
}

/* GRID MENU DISINI */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 50px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 30px 110px;
  font-size: 12px;
  border-radius: 90px;
}

.text-deskripsi {
    text-align: left;
    color: black;
}

.title {
    font-size: 40px;
}

.rule-game {
    background-color: rgba(127, 255, 212, 0.5);
}